[submodule "ext/Simple-Math"]
	path = ext/Simple-Math
	url = https://github.com/Ethan-Mulwee/Simple-Math.git
[submodule "ext/brl"]
	path = ext/brl
	url = https://github.com/Ethan-Mulwee/Bread-Render.git
